@import url("./timer.css");
@import url("./controlls.css");
@import url("./cards.css");
@import url("./toogleMode.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ligthMode-activeColorDefault: #02799d;

  --cards-backgrouColor-inative: #e1e1e6;

  --fontColor-ligthMode: #323238;

  /* DarkMode colors */
  --darkmode-backgroundColor: #121214;
  --darkmode-defaultColor: #e1e1e6;
  --darkMode-ativeColor: #0a3442;
  --darkmode-CardsbgColor: #29292e;

  --slidecolor-ligthMode: #323238;
  --slidecolor-darkMode: #e1e1e6;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

main {
  position: relative;
  display: flex;
  height: 100vh;
  padding: 5rem;
  width: 100%;
}

#app {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 82rem;
}
.hidden {
  display: none;
}

.darkMode {
  background-color: var(--darkmode-backColor);
}

@media (max-width: 820px) {
  #app {
    flex-direction: column;
    position: relative;
  }

  #modeBtn {
    position: absolute;
    margin: 0 2rem 0 0;
    right: 0;
  }
}
