#modeBtn {
  width: fit-content;
  cursor: pointer;
  height: fit-content;
}

#modeBtn:hover #lightMode-Btn svg path,
#modeBtn:hover #darkMode-Btn svg path {
  fill: var(--ligthMode-activeColorDefault);
}
